.navbar{
    background: #777575;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.quem-somos{
    background-color: #777575;
}
.margin{
    /*margin-top - margem externa*/
    /* padding-top - "margem interna*/ 
}